* {
  box-sizing: border-box;
}
body {
  background-color: white;
}
.header{
  background-color: #20B2AA;
  padding: 20px;
}
.topnav{
overflow: hidden;
background-color:white;
align-content: center;
float: left;
margin-top: 50px;
margin-left: 80px; 
}
.topnav a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover{
  background-color: #ddd;
  color: black;
}
.img{
  width: 200px;
  float: left;
  height: 150px;
  margin-left: 80px,
}
.banner{
  text-align: center;
}
.row, 
.row > .column {
  padding: 8px;
}
.column{
  float: left;
  width: 25%;
  }
.row:after {
  content: "";
  clear: both;
  display: table;
}
.content{
  background-color: white;
  padding: 10px;
  text-align: center;
}
.boutique{
  text-align: center;
}
.column1 {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row1:after {
  content: "";
  clear: both;
  display: table;
}
.instakrem{
  text-align: center;
}
.column2 {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row2::after {
  content: "";
  display: table;
  clear: both;
}
.row2, 
.row2 > .column2 {
  padding: 8px;
}





